<%= form_for([@auction], :url => auction_path(@auction)) do |f| %>

    <%= f.label :endtime %><br>
    <%= f.datetime_select :endtime, :ampm => false %>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>