<%= form_for([@auction], :url => auction_path(@auction)) do |f| %>
<div class="row col-md-5">
  <div class="form-group">
    <%= f.label :endtime %><br>
    <%= f.datetime_select :endtime, :ampm => false %>
  </div>
  <div class="form-group">
      <%= f.submit(class:"btn btn-success") %>
    </div>
</div>
<div style="clear:both;"></div>
<% end %>