<div class="container mainpage-content">
  <h1>Welcome<small class="small-title">E-Bike Auction Platform </small></h1>
<ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>
</div>