<p>
  <img src="/uploads/thumb_<%= picture.picture_identifier %>" />

  <%= link_to 'Destroy Picture', bike_picture_path(@bike, picture),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>