<p>
  <img src="/uploads/<%= picture.picture_identifier %>" style="height:200px;" />

  <%= link_to 'Destroy Picture', bike_picture_path(@bike, picture),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>